.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #dcdcdc;
}

.footer h1 {
  color: #696969;
}

.footer__text {
  line-height: 30px;
  color: #696969;
}

.footer__quick_links ul li {
  background: transparent !important;
}

.footer__quick_links ul li a {
  color: #696969;
}

.quick__links-title {
  margin-bottom: 20px;
  color: #696969;
  font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
  color: #696969;
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: #696969;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
